.FilmCard{
    width: 18%;
    margin: 10px auto;

    img{
        width: 100%;
        height: auto;
    }

    @media (max-width: 1200px){
        width: 30%;
    }

    @media (max-width: 992px){
        width: 45%;
    }

    @media (max-width: 768px){
        width: 95%;
    }
}